
    <div class="container">
        {{ page.content|raw }}
    </div>


<section class="about-text ptb-100">
    <section class="section-title">
        <div class="container text-center">
            <h2 id="concerts">{{ page.title|raw }}</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>

    <div class="container">
    {% for concert in page.header.concerts %}
        {% if loop.index  == 0 %}
        <br>
        {% endif %}
        
        <a class="button" href="#concert-popup-{{loop.index}}">
        <section class="concert-box">
            <div class="concert-box-month"><p> {{ concert.dateandtime|date("F") }} </p></div>
            <div class="concert-box-location-short"> <p><b>{{ concert.locationshort|raw }}  {{ concert.dateandtime|date("H:i") }}</b></p></div>
            <div class="concert-box-day"><p> {{ concert.dateandtime|date("j") }} </p></div>
            <div class="concert-box-heading"><p class="pheading"> {{ concert.heading|raw }} </p> <br>
                <p class="pnote" style="visibility: {{ concert.note_visibility|raw }}"><span style="white-space: nowrap;"><svg height="15" width="15" class="blinking">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#c10a1e" />x</svg></span> {{ concert.note|raw }}</p>
            </div>
        </section> 
        </a>

        <div id="concert-popup-{{loop.index}}" class="overlay">
            <div class="popup">
                <h1><b>{{ concert.heading|raw }}</b></h1>
                <a class="close" href="#concerts">&times;</a>
                <div class="content">
                    {{ concert.dateandtime|date("d.m.Y H:i") }} - {{ concert.location|raw }} <br>
                    <br>
                    <br>
                    <h2><i>Programm</i></h2>
                    {{ concert.description|raw }}
                    <br>
                    <br>
                    <h2><i>Adresse</i></h2>
                    {{ concert.location|raw }} <br>
                    {{ concert.address|raw }}
                    <br>
                    <br>

                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q={{ concert.addressquery|raw }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>




        <br>
        {% if loop.index == page.header.concerts.count %}
        <br>
        {% endif %}
    {% endfor %}
    </div>

</section>